{% extends 'base.html.twig' %}

{% block content %}
    <div class="customer-container">
        <div class="box">
            <div class="row">
                <div class="cell">
                    <div class="form-container">
                        {{ form_errors(RdvForm) }}

                        {{ form_start(RdvForm, {'attr': {'id': 'rdv-form', 'class': 'form-horizontal'}}) }}

                        <div class="form-group">
                            {{ form_label(RdvForm.Sexe) }}
                            {{ form_widget(RdvForm.Sexe, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(RdvForm.Longueur) }}
                            {{ form_widget(RdvForm.Longueur, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(RdvForm.Coupe) }}
                            {{ form_widget(RdvForm.Coupe, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(RdvForm.Extras) }}
                            {{ form_widget(RdvForm.Extras, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(RdvForm.Adresse) }}
                            {{ form_widget(RdvForm.Adresse, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(RdvForm.Commentaire) }}
                            {{ form_widget(RdvForm.Commentaire, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <button type="button" onclick="updatemap()" class="btn btn-primary">Rechercher</button>

                        {{ form_end(RdvForm) }}
                    </div>
                </div>

                <div class="cell">
                    <div class="center">
                        <div id="map" class="map-container"></div>
                        <div id="spinner" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var userCoordinatesX = {{ userCoordinatesX|json_encode }};
        var userCoordinatesY = {{ userCoordinatesY|json_encode }};
        console.log('User Coordinates:', userCoordinatesX, userCoordinatesY);
    </script>

    <script src="{{ asset('js/customerScript.js') }}"></script>
{% endblock %}
